html {
    scroll-behavior: smooth;
}
.w-img{
	& img{
		width: 100%;
	}
}
.m-img{
	& img{
		max-width: 100%;
	}
}

.fix {
    overflow:hidden
}
.clear{
    clear: both;
}

.z-index-1{
	z-index: 1;
}

.z-index-11{
	z-index: 11;
}
.z-index-99{
	z-index: 99;
}

.overflow-y-visible{
	overflow-x: hidden;
	overflow-y: visible;
}
.overflow-x-visible{
	overflow-x: visible;
	overflow-y: hidden;
}

.p-relative{
	position: relative;
}
.p-absolute{
	position: absolute;
}
.body-black{
	background: #131313;
}
.footer-bg{
	background: $low-black;
}
.width-100{
	width: 100%;
}

.mb-140{
	@include xl{
        margin-bottom: 105px;
    }
    @include lg{
        margin-bottom: 70px;
    }
    @include md{
        margin-bottom: 55px;
    }
    @include sm{
        margin-bottom: 40px;
    }
}
.pb-140{
	
    @include lg{
        padding-bottom: 100px;
    }
    @include md{
        padding-bottom: 80px;
    }
    @include sm{
        padding-bottom: 80px;
    }
}
.pb-135{
	
    @include lg{
        padding-bottom: 95px;
    }
    @include md{
        padding-bottom: 75px;
    }
    @include sm{
        padding-bottom: 75px;
    }
}
.mt-140{
	@include xl{
        margin-top: 105px;
    }
    @include lg{
        margin-top: 70px;
    }
    @include md{
        margin-top: 55px;
    }
    @include sm{
        margin-top: 40px;
    }
}
.pt-140{

    @include lg{
        padding-top: 100px;
    }
    @include md{
        padding-top: 80px;
    }
    @include sm{
        padding-top: 80px;
    }
}
.progress-circle{
    .progress {
        stroke: $primary-color;
        stroke-dasharray: 251.2;
        stroke-dashoffset: 251.2; 
        animation: progress-animation 2s linear forwards;
        &.progress-2{
            stroke-dasharray: 265.2;
        }
    }
}

// responsive spaces
.gallery-area{
    &.home-1{
        padding-bottom: 135px;

        @include lg{
            padding-bottom: 95px;
        }
        @include md{
            padding-bottom: 75px;
        }
        @include sm{
            padding-bottom: 75px;
        }
    }
}

.about-area{
    &.home-1{
        padding-bottom: 135px;

        @include lg{
            padding-bottom: 95px;
        }
        @include md{
            padding-bottom: 75px;
        }
        @include sm{
            padding-bottom: 75px;
        }
        
    }
    &.home-2{
        padding-top: 120px;
        padding-bottom: 130px;

        @include lg{
            padding-top: 80px;
            padding-bottom: 90px;
        }
        @include md{
            padding-top: 60px;
            padding-bottom: 70px;
        }
        @include sm{
            padding-top: 50px;
            padding-bottom: 85px;
        }
        @include xs{
            padding-bottom: 70px;
        }
    }
}

.portfolio-area{
    &.home-1{
        padding-bottom: 140px;

        @include lg{
            padding-bottom: 100px;
        }
        @include md{
            padding-bottom: 80px;
        }
        @include sm{
            padding-bottom: 80px;
        }

        .portfolio-area-awards{
            padding-top: 135px;

            @include lg{
                padding-top: 95px;
            }
            @include md{
                padding-top: 75px;
            }
            @include sm{
                padding-top: 75px;
            }
        }
    }

    &.home-2{
        padding-top: 70px;
        padding-bottom: 135px;

        @include lg{
            padding-top: 80px;
            padding-bottom: 95px;
        }
        @include md{
            padding-top: 50px;
            padding-bottom: 78px;
        }
        @include sm{
            padding-top: 35px;
            padding-bottom: 75px;
        }
    }
}

.wcu-area{
    &.home-1{
        padding-top: 196px;
        padding-bottom: 130px;

        @include lg{
            padding-top: 0px !important;
            padding-bottom: 90px;
        }

        @include md{
            padding-top: 0 !important;
            padding-bottom: 70px;
        }
        @include sm{
            padding-top: 0 !important;
            padding-bottom: 70px;
        }
    }

    &.home-2{
        padding-bottom: 120px;
        @include lg{
            padding-bottom: 80px;
        }
        @include md{
            padding-bottom: 60px;
        }
        @include sm{
            padding-bottom: 50px;
        }
    }
}
.team-area{
    &.home-1{
        padding-bottom: 140px;
        @include lg{
            padding-bottom: 100px;
        }
        @include md{
            padding-bottom: 80px;
        }
        @include sm{
            padding-bottom: 80px;
        }
    }
}
.home-blog-area{
    &.home-1{
        padding-bottom: 140px;
        
        @include lg{
            padding-top: 95px;
            padding-bottom: 100px;
        }
        @include md{
            padding-top: 40px;
            padding-bottom: 30px;
        }
        @include sm{
            padding-top: 40px;
            padding-bottom: 30px;
        }
    }
    &.home-2{
        padding-top: 136px;
        padding-bottom: 140px;

        @include lg{
            padding-top: 96px;
            padding-bottom: 100px;
        }
        @include md{
            padding-top: 76px;
            padding-bottom: 30px;
        }
        @include sm{
            padding-top: 76px;
            padding-bottom: 45px;
        }
    }
}

.services-area{
    &.home-2{
        padding-bottom: 70px;

        @include lg{
            padding-bottom: 50px;
        }
        @include md{
            padding-bottom: 65px;
        }
        @include sm{
            padding-bottom: 20px;
        }

        
    }
}

.pricing-area{
    &.home-2{
        padding-top: 140px;
        padding-bottom: 140px;

        @include lg{
            padding-top: 100px;
            padding-bottom: 104px;
        }
        @include md{
            padding-top: 80px;
            padding-bottom: 90px;
        }
        @include sm{
            padding-top: 76px;
            padding-bottom: 90px;
        }
    }
}
