.contact-page{
    &-info {
        margin-top: 56px;
        @include sm{
            margin-top: 0;
            margin-bottom: 50px;
        }
    }
    h4{
        color: #FFF;
        font-family: Gilroy-Regular;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2px;
        @include md{
            font-size: 21px;
        }
        @include sm{
            font-size: 21px;
        }
    }
    .contact-loction{
        h4{
            @include sm{
                margin-bottom: 10px;
            }
        }
        p{
            br{
                @include md{
                    display: none;
                }
            }
        }
    }
    .company-map{
        span{
            iframe{
                @include sm{
                    height: 250px;
                }
            }
        }
    }
}