.project-page{
    .project-area{
        padding-bottom: 95px;
        
        @include lg{
            padding-bottom: 55px;
        }
        @include md{
            padding-bottom: 35px;
        }
        @include sm{
            padding-bottom: 80px;
        }
    }
    .projects-wrapper{
       margin-bottom: 45px;
       @include sm{
        margin: 0 51px;
       }
       @include rmaxwd (575) {
        margin: 0 67px;
       }
       @include rmaxwd (445) {
        margin: 0 0;
       }
       .portfolio-area-img{
          img{
            transform: scale(1);
            transition: all 0.5s ease-out;
            &:hover{
                transform: scale(1.1);
            }
          }
        }
       .portfolio-area-content{
        h4{
            @include md {
                font-size: 18px;
            }
            @include rmaxwd (575) {
                font-size: 22px;
            }
        }
       }
    }
}


// project details page
.project-detail-area {
  padding: 120px 0;
}
@media (max-width: 991px) {
  .project-detail-area {
    padding: 100px 0;
  }
}
@media (max-width: 767px) {
  .project-detail-area {
    padding-top: 70px;
    padding-bottom: 120px;
  }
}
.project-detail-area .project-details-padding-left {
  padding-left: 60px;
}
@media (max-width: 1199px) {
  .project-detail-area .project-details-padding-left {
    padding-left: 12px;
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .project-detail-area .project-details-padding-left {
    margin-top: 20px;
  }
}
.project-detail-area img {
  border-radius: 12px;
}
@media (max-width: 767px) {
  .project-detail-area .mt-65 {
    margin-top: 45px;
  }
}
.project-gallery-image {
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}
.project-gallery-image img {
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: all 0.5s ease-out;
}
.project-gallery-image:hover img {
    transform: scale(1.1);
    transition: all 0.5s ease-out;
}
.project-gallery-image:before {
    position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
    content: "";
    z-index: 1;
}
.project-gallery-image:hover:before {
    height: 250%;
    -webkit-transition: all 900ms linear;
    transition: all 900ms linear;
    background-color: transparent;
}

.project-info-widget {
  background: #ebf4f8;
  padding: 55px 58px;
  border-radius: 8px;
  display: grid;
  gap: 40px;

  @include lg{
    grid-template-columns: repeat(2, 1fr);
  }
  @include md{
    grid-template-columns: repeat(2, 1fr);
    padding: 40px;
  }
   @include sm{
        grid-template-columns: 1fr;
        padding: 35px;
    }
}

.project-info-widget .info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.project-info-widget .info-item h3 {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: #0e3440;
}
.project-info-widget .info-item p {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #5e6f92;
}

.project-details-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}
.list-item.style-two {
    gap: 18px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    margin-bottom: 20px;
    display: flex;
}
.list-item.style-two .icon {
    background: transparent;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    width: auto;
    height: auto;
}
.list-item.style-two .text {
    margin: 0;
    font-weight: 400;
}

.simillar-project-title{
    @include sm{
        margin-bottom: 30px;
    }
}

.simillar-project-title h2 {
    font-size: 36px;
    line-height: 50px;
    font-weight: 500;
    margin: 0;

    @include sm{
        font-size: 26px;
    }
}
.portfolio-area-img a img {
    width: 100%;
}
.portfolio-slider-wrapper {
  position: relative;
}
.portfolio-slider-wrapper .slick-list {
  margin: 0 -12px;
}
.portfolio-slider-wrapper .slick-list .slick-slide {
  margin: 0 12px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.portfolio-slider-wrapper .slick-list .slick-slide.slick-active {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.portfolio-slider-wrapper button.portfolio-arrow-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 99;
  background-color: #ffffff;
  border: 1px solid #EDBC5A;
  cursor: pointer;
  top: -90px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
@media (max-width: 991px) {
  .portfolio-slider-wrapper button.portfolio-arrow-btn {
    top: unset;
    bottom: -50px;
  }
}
.portfolio-slider-wrapper button.portfolio-arrow-btn.prev-btn {
  right: 40px;
}
@media (max-width: 991px) {
  .portfolio-slider-wrapper button.portfolio-arrow-btn.prev-btn {
    right: unset;
  }
}
@media (max-width: 767px) {
  .portfolio-slider-wrapper button.portfolio-arrow-btn.prev-btn {
    right: unset;
    left: 10px;
  }
}
.portfolio-slider-wrapper button.portfolio-arrow-btn.next-btn {
  right: 0;
}
@media (max-width: 991px) {
  .portfolio-slider-wrapper button.portfolio-arrow-btn.next-btn {
    right: unset;
    left: 50px;
  }
}
@media (max-width: 767px) {
  .portfolio-slider-wrapper button.portfolio-arrow-btn.next-btn {
    right: 30px;
    left: 50px;
  }
}
.portfolio-slider-wrapper button.portfolio-arrow-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #1c2325;
  font-size: 16px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.portfolio-slider-wrapper button.portfolio-arrow-btn:hover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  border-color: #EDBC5A;
  background-color: #EDBC5A;
}
.portfolio-slider-wrapper button.portfolio-arrow-btn:hover i {
  color: #ffffff;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}