.service-details-page{
    .service-details-wcu{
        &-content{
            overflow: hidden;
        }
        &-title {
            width: 416px;
            height: 383px;
            background: $primary-color;
            padding: 87px 38px 52px 42px;
            border-radius: 10px;
            margin-top: -274px;
            margin-left: 282px;
            position: relative;
            @include xl{
                width: 353px;
                height: 383px;
            }
            @include lg{
                margin-top: -151px;
                margin-left: 205px;
                width: 330px;
                height: 290px;
                padding: 47px 38px 52px 42px;
            }
            @include sm{
                margin-top: -218px;
                margin-left: 269px;
                width: 250px;
                height: 260px;
                padding: 62px 31px 42px 27px;
            }
            @include rmaxwd (576){
                margin-top: -65px;
                margin-left: 197px;
                width: 130px;
                height: 130px;
                padding: 10px 10px 10px 10px;
            }
            a{
                span{
                    margin-bottom: 17px;
                    display: block;
                    &::before{
                        color: $black;
                        font-size: 35px;
                        width: 87px;
                        height: 87px;
                        background: $white;
                        text-align: center;
                        line-height: 87px;
                        border-radius: 50%;
                        display: inline-block;
                        transition: all 500ms ease;
                        @include lg{
                            width: 70px;
                            height: 70px;
                            line-height: 70px;
                            font-size: 25px;
                        }
                        @include sm{
                            width: 35px;
                            height: 35px;
                            line-height: 35px;
                            font-size: 15px;
                        }
                    }
                }
                &:hover{
                    span{
                        &::before{
                            color: $primary-color;
                        }
                    }
                }
            }
            h3{
                color: $black;
                @include xl{
                    font-size: 30px;
                }
                @include lg{
                    font-size: 28px;
                }
                @include sm{
                    font-size: 22px;
                }
                @include rmaxwd (576){
                    font-size: 16px;
                }
                span{
                    font-family: Gilroy-Regular; 
                }
            }
        }
        .wcu-area-card-info-secondary{
            .wcu-area-info-card-wrapper{
                margin-bottom: 60px;

                @include sm{
                    margin-bottom: 30px;
                }

                &.last-item{
                    @include md{
                        margin-bottom: 0;
                    }
                    @include sm{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .our-work-step{
        &-card-wrapper{
            width: 306px;
            height: 306px;
            border-radius: 306px;
            background: #1A1717;
            box-shadow: 5px 5px 4px 0px #EDBC5A;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            bottom: 0;
            @include transition;

            @include xl{
                width: 250px;
                height: 250px;
            }
            @include lg{
                width: 220px;
                height: 220px;
            }
            @include md{
                margin-bottom: 30px;
            }
            @include sm{
                margin-bottom: 30px;
                margin:20px auto;
            }

            &:hover{
                bottom: 10px;
            }
        }
        &-card-title{
            span{
                font-family: Gilroy-Light;
                margin-bottom: 12px;
                display: block;
                @include lg{
                    margin-bottom: 8px;
                }
            }
            h4{
                margin-bottom: 24px;
                @include lg{
                    margin-bottom: 16px;
                }
            }
            p{
                font-size: 18px;
                padding: 0 39px;
                display: block;
                @include lg{
                    font-size: 16px;
                    padding: 0 16px;
                }
            }
        }
    }
    .wcu-area{
        .wuc-area-side-img {
            margin-top: -85px;
            animation: anime 5s linear infinite; 

            @include lg{
                margin-top: 0;
            }
            @include md{
                margin-top: 0;
            }
            img{
                @include rmaxwd(1199){
                    display: none;
                }
            }
        }
    }
    .wuc-accordion {
       
        .section-specing {
            padding: 80px;
            border-radius: 20px;
            background: #1A1717;
            @include xl{
                padding: 50px;
            }
            @include lg{
                padding: 50px;
            }
            @include md{
                padding: 20px 40px 60px;
            }
            @include sm{
               padding: 20px 40px 60px;
            }
            @include xs{
               padding: 10px 25px 40px;
            }
            @include xxs{
               padding: 25px 0px 80px;
            }
        }
        &-bg-img {
            right: 0;
            bottom: 0;
        }
        &-wrapper {
            margin-bottom: 25px;
            @include rmaxwd (992){
                margin-right: 0;
            }
            .wuc-accordion-pra {
                p {
                    font-size: 18px;
                    margin-top: 30px;
                    visibility: hidden;
                    opacity: 0;
                    transition: visibility 0.3s, opacity 0.3s ease-in-out;
                    max-height: 0;
                    @include sm{
                        font-size: 15px;
                    }
                }
                &.active p {
                    visibility: visible;
                    opacity: 1;
                    max-height: 100%;
                }
            }
        }
        &-title {
            position: relative;
            cursor: pointer;
            span {
                &::before {
                    font-size: 25px;
                    padding: 15px;
                }
                &.bottom-arrow {
                    display: none;
                }
                &.active + .bottom-arrow {
                    display: inline-block;
                }
                &.active {
                    display: none;
                }
            }
            h4 {
                font-family: Gilroy-SemiBold;
                font-size: 18px;
                margin-bottom: 30px;
                @include sm{
                    font-size: 16px;
                }
            }
            &::after {
                content: "";
                background-color: rgba(255, 255, 255, 0.2);
                width: 100%;
                height: 1px;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        &-image-wrapper{
            @include rmaxwd (992){
                display: none;
            }
        }
    }    
    
}

//Faq accordion section


.faq-container{
   margin-right: 15px;

   @include lg{
    margin-right: 10px;
   }
   @include md{
    margin-right: 0;
   }
   @include sm{
    margin-right: 0;
   }

     .accordion-item{
        background-color: transparent;
        padding: 20px 0px ;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);        
        overflow: hidden;
        margin-bottom: 25px;

        @include sm{
            margin-bottom: 20px;
        }

       

        &:last-child{
            margin-bottom: 0;
        }
        
        .accordion-header{

            .accordion-button{
                position: relative;
                font-weight: 400;
                font-size: 24px;
                line-height: 34px;
                color: white;
                border: none;
                padding: 0;
                background-color: transparent;
                @include md{
                    font-size: 22px;
                }
                @include sm{
                    font-size: 20px;
                }
               
                @include xxs{
                    font-size: 18px;
                }
                
                &.collapsed{
                    color: white;
                    box-shadow: none;                    
                }

                &:not(.collapsed){
                    background-color: transparent;
                    color: white;
                    box-shadow: none;

                   &::before{
                    content: "\f107";
                   } 
                }

                &:focus{
                    background-color: transparent;
                    color: white;
                    box-shadow: none;
                }


               &:after {
                 display: none;
                }
               &:before {
                  content: "\f105";
                  position: absolute;
                  font-family: "Font Awesome 6 Pro";
                  font-weight: 900; 
                  font-size: 18px;                 
                  background-color: transparent;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  right: 0;
                  transition: all 0.3s;
                  color: #EDBC5A;
                }

               
            }
        }

        .accordion-body{
            padding: 0;
            margin-top: 25px; 
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            color: #B0B0B0;

            @include xs{
                font-size: 16px;
                margin-top: 15px;
            }
            @include xxs{
                margin-top: 10px;
            }
        }
    }
}