.service-details-page{
    .service-details-wcu{
        &-content{
            overflow: hidden;
        }
        &-title {
            width: 416px;
            height: 383px;
            background: $primary-color;
            padding: 87px 38px 52px 42px;
            border-radius: 10px;
            margin-top: -274px;
            margin-left: 282px;
            position: relative;
            @include xl{
                width: 353px;
                height: 383px;
            }
            @include lg{
                margin-top: -151px;
                margin-left: 205px;
                width: 330px;
                height: 290px;
                padding: 47px 38px 52px 42px;
            }
            @include sm{
                margin-top: -218px;
                margin-left: 269px;
                width: 250px;
                height: 260px;
                padding: 62px 31px 42px 27px;
            }
            @include rmaxwd (576){
                margin-top: -65px;
                margin-left: 197px;
                width: 130px;
                height: 130px;
                padding: 10px 10px 10px 10px;
            }
            a{
                span{
                    margin-bottom: 17px;
                    display: block;
                    &::before{
                        color: $black;
                        font-size: 35px;
                        width: 87px;
                        height: 87px;
                        background: $white;
                        text-align: center;
                        line-height: 87px;
                        border-radius: 50%;
                        display: inline-block;
                        transition: all 500ms ease;
                        @include lg{
                            width: 70px;
                            height: 70px;
                            line-height: 70px;
                            font-size: 25px;
                        }
                        @include sm{
                            width: 35px;
                            height: 35px;
                            line-height: 35px;
                            font-size: 15px;
                        }
                    }
                }
                &:hover{
                    span{
                        &::before{
                            color: $primary-color;
                        }
                    }
                }
            }
            h3{
                color: $black;
                @include xl{
                    font-size: 30px;
                }
                @include lg{
                    font-size: 28px;
                }
                @include sm{
                    font-size: 22px;
                }
                @include rmaxwd (576){
                    font-size: 16px;
                }
                span{
                    font-family: Gilroy-Regular; 
                }
            }
        }
        .wcu-area-card-info-secondary{
            .wcu-area-info-card-wrapper{
                margin-bottom: 60px;

                @include sm{
                    margin-bottom: 30px;
                }

                &.last-item{
                    @include md{
                        margin-bottom: 0;
                    }
                    @include sm{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .our-work-step{
        &-card-wrapper{
            width: 306px;
            height: 306px;
            border-radius: 306px;
            background: #1A1717;
            box-shadow: 5px 5px 4px 0px #EDBC5A;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            bottom: 0;
            @include transition;

            @include xl{
                width: 250px;
                height: 250px;
            }
            @include lg{
                width: 220px;
                height: 220px;
            }
            @include md{
                margin-bottom: 30px;
            }
            @include sm{
                margin-bottom: 30px;
                margin:20px auto;
            }

            &:hover{
                bottom: 10px;
            }
        }
        &-card-title{
            span{
                font-family: Gilroy-Light;
                margin-bottom: 12px;
                display: block;
                @include lg{
                    margin-bottom: 8px;
                }
            }
            h4{
                margin-bottom: 24px;
                @include lg{
                    margin-bottom: 16px;
                }
            }
            p{
                font-size: 18px;
                padding: 0 39px;
                display: block;
                @include lg{
                    font-size: 16px;
                    padding: 0 16px;
                }
            }
        }
    }
    .wcu-area{
        .wuc-area-side-img {
            margin-top: -85px;
            animation: anime 5s linear infinite; 

            @include lg{
                margin-top: 0;
            }
            @include md{
                margin-top: 0;
            }
            img{
                @include rmaxwd(1199){
                    display: none;
                }
            }
        }
    }
    .wuc-accordion {
       
        .section-specing {
            padding: 80px;
            border-radius: 20px;
            background: #1A1717;
            @include xl{
                padding: 50px;
            }
            @include lg{
                padding: 50px;
            }
            @include md{
                padding: 20px 40px 60px;
            }
            @include sm{
               padding: 20px 40px 60px;
            }
            @include xs{
               padding: 10px 25px 40px;
            }
            @include xxs{
               padding: 25px 0px 80px;
            }
        }
        &-bg-img {
            right: 0;
            bottom: 0;
        }
        &-wrapper {
            margin-bottom: 25px;
            @include rmaxwd (992){
                margin-right: 0;
            }
            .wuc-accordion-pra {
                p {
                    font-size: 18px;
                    margin-top: 30px;
                    visibility: hidden;
                    opacity: 0;
                    transition: visibility 0.3s, opacity 0.3s ease-in-out;
                    max-height: 0;
                    @include sm{
                        font-size: 15px;
                    }
                }
                &.active p {
                    visibility: visible;
                    opacity: 1;
                    max-height: 100%;
                }
            }
        }
        &-title {
            position: relative;
            cursor: pointer;
            span {
                &::before {
                    font-size: 25px;
                    padding: 15px;
                }
                &.bottom-arrow {
                    display: none;
                }
                &.active + .bottom-arrow {
                    display: inline-block;
                }
                &.active {
                    display: none;
                }
            }
            h4 {
                font-family: Gilroy-SemiBold;
                font-size: 18px;
                margin-bottom: 30px;
                @include sm{
                    font-size: 16px;
                }
            }
            &::after {
                content: "";
                background-color: rgba(255, 255, 255, 0.2);
                width: 100%;
                height: 1px;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        &-image-wrapper{
            @include rmaxwd (992){
                display: none;
            }
        }
    }    
    
}

//Faq accordion section


.faq-container{
   margin-right: 15px;

   @include lg{
    margin-right: 10px;
   }
   @include md{
    margin-right: 0;
   }
   @include sm{
    margin-right: 0;
   }

     .accordion-item{
        background-color: transparent;
        padding: 20px 0px ;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);        
        overflow: hidden;
        margin-bottom: 25px;

        @include sm{
            margin-bottom: 20px;
        }

       

        &:last-child{
            margin-bottom: 0;
        }
        
        .accordion-header{

            .accordion-button{
                position: relative;
                font-weight: 400;
                font-size: 24px;
                line-height: 34px;
                color: white;
                border: none;
                padding: 0;
                background-color: transparent;
                @include md{
                    font-size: 22px;
                }
                @include sm{
                    font-size: 20px;
                }
               
                @include xxs{
                    font-size: 18px;
                }
                
                &.collapsed{
                    color: white;
                    box-shadow: none;                    
                }

                &:not(.collapsed){
                    background-color: transparent;
                    color: white;
                    box-shadow: none;

                   &::before{
                    content: "\f107";
                   } 
                }

                &:focus{
                    background-color: transparent;
                    color: white;
                    box-shadow: none;
                }


               &:after {
                 display: none;
                }
               &:before {
                  content: "\f105";
                  position: absolute;
                  font-family: "Font Awesome 6 Pro";
                  font-weight: 900; 
                  font-size: 18px;                 
                  background-color: transparent;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  right: 0;
                  transition: all 0.3s;
                  color: #EDBC5A;
                }

               
            }
        }

        .accordion-body{
            padding: 0;
            margin-top: 25px; 
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            color: #B0B0B0;

            @include xs{
                font-size: 16px;
                margin-top: 15px;
            }
            @include xxs{
                margin-top: 10px;
            }
        }
    }
}



// service details page 


.service-details-wrapper {
  padding-top: 120px;
  padding-bottom: 105px;
}
@media (max-width: 991px) {
  .service-details-wrapper {
    padding: 100px 0;
  }
}
@media (max-width: 767px) {
  .service-details-wrapper {
    padding: 70px 0;
  }
}
.service-details-wrapper .details-main {
  padding-left: 25px;
}
@media (max-width: 1199px) {
  .service-details-wrapper .details-main {
    padding-left: 0;
  }
}
.service-details-wrapper .details-main .title {
  margin-bottom: 20px;
}
.service-details-wrapper .details-main img {
  border-radius: 12px;
  width: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .service-details-wrapper .details-main .icon-card {
    gap: 20px;
    margin-bottom: 24px;
  }
}
@media (max-width: 991px) {
  .service-details-wrapper .details-main .icon-card .title {
    line-height: 32px;
  }
  .service-details-wrapper .details-main .icon-card .title {
    margin-bottom: 0px;
   }
}
.service-details-wrapper .details-main .accordion-list-item {
  margin-bottom: 0;
}
.service-details-wrapper .details-main .list-item {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .service-details-wrapper .details-main .row.mt-55 {
    margin-top: 10px;
  }

  .service-details-wrapper .details-main .icon-card .title {
    margin-bottom: 10px;
   }
}
.service-details-wrapper .details-main .mt-30 {
  margin-top: 0;
}
.service-details-wrapper .details-main .service-feature-img {
  margin-bottom: 44px;
}
@media (max-width: 767px) {
  .service-details-wrapper .details-main .service-feature-img {
    margin-bottom: 30px;
  }
}
.service-details-wrapper .faq-title {
  font-size: 30px;
}
.service-details-wrapper .list-section.style-2 .list-item {
  padding-left: 0;
}
.service-details-wrapper .list-section .list-item {
  padding-left: 30px;
}
@media (max-width: 1399px) {
  .service-details-wrapper .list-section .list-item {
    padding-left: 0;
  }
}
.service-details-wrapper .image-wrapper {
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .service-details-wrapper .image-wrapper img {
    width: 100%;
  } 
}
.service-sidebar {
    padding-left: 24px;
}
@media (max-width: 1199px) {
  .service-sidebar {
    padding-left: 0px;
    margin-top: 40px;
  }
}

.widget_service_categories {
    background-color: transparent;
    padding: 0;
    border-radius: 8px;
    margin-bottom: 48px;
}
.widget_service_categories ul li {
    border: 0;
    padding-bottom: 13px !important;
}
.widget_service_categories ul li:hover a {
    background: #EDBC5A;
    color: #ffffff;

    i{
        color: #ffffff;
    }
}
.widget_service_categories ul li.active a {
    background: #EDBC5A;
    color: #ffffff;

    i{
        color: #ffffff;
    }
}
.widget_service_categories ul li a {
    background: #ebf4f8;
    border-radius: 8px;
    padding: 21px 24px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: #0e3440;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    width: 100%;

    i{
        font-size: 26px;
        color: #EDBC5A;
    }
}
.icon-card {   
    display: flex;
    margin-bottom: 36px;
    flex-direction: column;
}

.icon-card.style-five .icon-wrapper{
    display: flex;
    align-items: flex-start;
    gap: 20px;

    .icon i{
        font-size: 36px;
        color: #EDBC5A;
        margin-top: 4px;
    }
}
.list-item ul {
    padding-left: 0;
    margin-bottom: 20px;
}
.list-item ul li {
    list-style: none;
    display: flex;
    gap: 0 24px;
    padding-top: 10px;
}
.list-item ul li i {
    color: #EDBC5A;
    font-size: 20px;
    position: relative;
    top: 5px;
}

.widget_service_promotion {
    padding: 44px 40px;
    background-color: #1c2325;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    margin-bottom: 48px;
}
.widget_service_promotion .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0e3440;
    opacity: 0.8;
}
.widget_service_promotion .widget-subtitle {
    position: relative;
    z-index: 0;
}
.widget_service_promotion .promotion-card {
    position: relative;
    z-index: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 70px;
}
.widget_service_promotion .promotion-card h4 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
    margin: 0;
}
.widget_service_promotion .promotion-card p {
    color: #b3d0da;
    font-size: 18px;
    font-weight: 400;
    margin-top: 16px;
}
.widget_service_promotion .promotion-card .secondary-btn {

    display: flex;
    align-items: center;
    gap: 18px;
    justify-content: start;
}
.widget_service_promotion .promotion-card .secondary-btn .icon {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: #fedb5c;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.widget_service_promotion .promotion-card .secondary-btn .btn-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
}
.widget_service_promotion .promotion-card .secondary-btn .btn-text p {
    margin: 0;
    text-align: start;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
}
.widget_service_promotion .promotion-card .secondary-btn .btn-text h4 {
    margin: 0;
    text-align: start;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 500;
}
.widget_service_brochura {
    padding: 38px;
    position: relative;
    overflow: hidden;
    border: 1px solid #ced9da;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 5px;
    background-color: #ffffff;
    border-radius: 8px;
}
.widget_service_brochura .widget-title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 8px;
}
.widget_service_brochura .widget-title-wrapper .widget-subtitle {
    color: #2ab97e;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin: 0;
}
.widget_service_brochura .widget-title-wrapper .widget-title {
    color: #1c2325;
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    line-height: 46px;
    font-weight: 500;
    margin-bottom: 30px;
}
.widget_service_brochura .button-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
}
.widget_service_brochura .button-wrapper .pdf {
    padding: 18px;
    border-radius: 50px;
    background-color: #fedb5c;
}
.widget_service_brochura .button-wrapper .btn-text {
    color: #1c2325;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.widget_service_brochura .button-wrapper .doc {
    padding: 18px;
    border-radius: 50px;
    border: 2px solid #fedb5c;
}