.footer-area{
    &-company-logo{

        @include md{
            padding-bottom: 30px;
        }
        @include sm{
            padding-bottom: 25px;
        }
       
    }
    &-company-info{
        .line-1 {
            height: 443px;
            width: 1px;
            border-right: 1px solid rgba(255, 255, 255, 0.15);
            top: 24px;
            left: 323px;
            @include xl{
                left: 278px;
                height: 432px;
            }
            @include lg{
                left: 234px;
                height: 385px;
            }
            @include md{
                display: none;
                overflow: hidden;
            }
            @include sm{
                display: none;
                overflow: hidden;
            }
        }
    }
    &-heading-text{
        @include md{
            display: none;
            overflow: hidden;
        }
        @include sm{
            display: none;
            overflow: hidden;
        }
        h2{
            text-transform: uppercase;
            margin-bottom: 5px;
            @include xl{
                font-size: 45px;
            }
            @include lg{
                font-size: 40px;
            }
        }
        h4{
            font-family: Gilroy-Light;
            letter-spacing: 20.72px;
            text-transform: uppercase; 
            @include xl{
                font-size: 24px;
                letter-spacing: 19.72px;
            }
            @include lg{
                font-size: 19px;
                letter-spacing: 16.72px;
            }
        }
    }
    &-company-fast-email{
        @include lg{
            padding-bottom: 50px;
        }
        @include md{
            display: none;
            visibility: hidden;
        }
        @include sm{
            display: none;
            visibility: hidden;
        }
        & a{
            padding: 10px 30px;
            border-radius: 83px;
            border: 1px solid rgba(224, 224, 224, 0.15);
            display: inline-block;
            @include xl{
                padding: 5px 20px;
            }
            @include lg{
                padding: 10px 20px;
                font-size: 15px;
            }
        }
    }
    hr{
        width: 1293px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        height: 1px;
        display: flex;
        justify-content: center;
        @include xl{
            width: 1115px;
        }
        @include lg{
            width: 935px;
        }
        @include md{
            width: 700px;
        }
        @include sm{
            display: none;
        }
    }
    
    & .sce-email{
       
        @include sm{
            margin-bottom: 25px;        
        }
        a{
            display: inline-block;
            @include lg{
                font-size: 15px;
            }
        }
    }
        
    
    &-quick-menu{
        margin-left: 120px;
        @include xl{
            margin-left: 70px;
        }
        @include lg{
            margin-left: 30px;
            padding-top: 25px;
        }
        @include md{
            margin-left: 0;
            padding-top: 25px;
            display: flex;
            justify-content: center;
        }
        @include sm{
            margin-left: 0;
            padding-top: 25px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-bottom: 15px;
        }
        @include xs{
            flex-direction: column;
        }
    }
    &-quick-menu-one{
        h4{
            margin-bottom: 26px;

            @include md{
                margin-bottom: 15px;
            }
            @include sm{
                margin-bottom: 12px;
            }
        }
       li{
        margin-bottom: 4.5px;
       }
    }
    &-quick-menu-two{
        @include lg{
            margin-left: 71px;
        }
      @include sm{
        margin-left: 20px;
        margin-right: 50px;
      }
      @include rmaxwd (378){
        margin-left: 20px;
        margin-right: 0px;
      }
      @include xs{
        margin: 0 0 0 0;
      }
    }
    &-services{
        h4{
            margin-bottom: 26px;
            @include md{
                margin-bottom: 15px;
            }
            @include sm{
                margin-bottom: 12px;
            }
            
        }
    }
    &-sand-messege{
        
        animation: anime 3s linear infinite;
        
        a {
            display: flex;
            flex-direction: column;
            gap: 4px;
            width: 146px;
            height: 146px;
            justify-content: center;
            align-items: center;
            background: $primary-color;
            text-align: center;
            border-radius: 50%;
            padding: 24px;
            @include lg{
                width: 120px;
                height: 120px;
            }
            @include xxs{
                width: 120px;
                height: 120px;
            }
            h4{
                color: var(--black, #141414);
                text-align: center;
                font-size: 20px;
                @include transition;
                @include lg{
                    font-size: 16px;
                }
                @include xxs{
                    font-size: 16px;
                }
            }
            span{
                color: var(--black, #141414);
                @include transition;
            }
            &:hover{
                h4{
                    color: $white;
                }
                span{
                    color: $white;
                }
            }
        }
    }
    .footer-copy-right-info,
    .copyright-text{
       padding: 20px 0;
        span{
            color: var(--White, #FFF);
            text-align: center;
            font-family: Gilroy-Regular;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            a{
                color: #EDBC5A;
                font-family: Gilroy-SemiBold;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                display: inline-block;
            }
        }
    }
    
}


.footer-top{
    padding: 32px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);

    @include md{
        padding: 80px 0 32px;
    }
    @include sm{
        padding: 80px 0 32px;
    }

    .social-content{
        display: flex;
        align-items: center;
        gap: 40px;
        @include lg{
            gap: 20px;
        }

        @include md{
            gap: 30px;
        }

        @include xxs{
            gap: 25px;
        }
        a{
            display: inline-block;
            font-family: Rubik;
            font-size: 14px;
            line-height: normal;

            img{
                margin-right: 10px;

                @include lg{
                    margin-right: 0px;
                }
            }
        }
    }
}

.footer-bottom{
    padding: 32px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);

    .footer-area-quick-menu-one {
        ul{
            display: grid;
            grid-template-columns: auto auto;
        }
    }

    .others{
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include md{
            margin-top: 30px;
        }
        @include sm{
            margin-top: 30px;
        }
    }
}