

$gray-100: #f7f1fc;
$gray-900: black;
$gray-800: #0e3440;
// $gray-800: #716f73;
$gray-700: #aba8af;
$primary-color: #EDBC5A;
$black: #000000;
$white: #ffffff;
$text-color: #616670;
$border-color: #e3e3e3;
$font-family: "Gilroy-Bold";
// #B0B0B0

.blog-area{
    
  .blog-posts,
  .blog-post-items {
    .single-post-item {
        margin-bottom: 60px;

        .post-content-wrapper {
          background: $gray-100;
          padding: 35px 25px;
          border-bottom-right-radius: 6px;
          border-bottom-left-radius: 6px;
          .post-meta {
            display: flex;
            align-items: center;
            gap: 25px;
            flex-wrap: wrap;
            row-gap: normal;

            @include lg{
              gap: 20px;
              row-gap: normal;
            }
            a {
              color: $black;
            }
            .author-img,
            .blog-category,
            .post-date,
            .post-comment {
              img{
                  height: 40px;
                  width: 40px;
                  border-radius: 50%;
                  margin-right: 4px;
              }
              a {
                color: $gray-800;
                font-size: 18px;
                transition: all 0.3s;

                &:hover{
                  color: $primary-color;
                }
  
                @include sm{
                  font-size: 16px;
                }
              }
              
              i {
                color: $primary-color;
              }
              
              .meta-text {
                font-weight: 400;
                margin-left: 3px;

              }
            }
            
          }
           .post-heading {
            padding-top: 12px;
            overflow-wrap: break-word;

            .post-title {              
              font-family: $font-family;
              line-height: 1.2;
              margin-top: 0;
              font-size: 36px;

              @include lg{
                font-size: 34px;
              }

              @include md {
                font-size: 30px;
              }
              @include sm {
                font-size: 28px;
              }
              @include xs {
                font-size: 25px;
                line-height: 1.3;
              }
              @include xxs{
                font-size: 23px;
              }
             

              a {
                
                color: $black;
                font-weight: 500;
                padding-right: 0px;

              }

              &:hover {
                a {
                  color: $primary-color;
                }
              }
            }
          }
          .post-content{
            p{
              margin-top: 15px !important;
              color: $gray-800;
              font-weight: 400;
              font-size: 18px;

              @include xxs{
                text-align: justify;
              }
            }
          }

          .blog-read-more{

            margin-top: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .read-more{
                a{
                   color: $gray-900;
                   font-weight: 700;
                   font-size: 18px;
                   padding: 7px 25px;
                   border-radius: 50px;
                   background-color: white;
                   display: inline-flex;
                   align-items: center;
                   transition: all 0.5s;
                   border: 1px solid $primary-color;

                   span{
                    height: 48px;
                    width: 48px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    color: white;
                    background-color: $primary-color;
                    margin-left: 10px;
                    margin-right: -15px;
                    transition: all 0.5s;
                   
                    i{
                        transition: all 0.5s;
                    }

                   }

                   &:hover{
                    background-color: $gray-900;
                    color: white;

                    span{
                        background-color: $gray-900;
                        color: white;
                       

                        i{
                            transform: rotate(360deg)
                        }
                    }
                   }
                }
            }

            .share-blog{

              @include sm{
                display: none;
              }
                span{
                    font-size: 18px;
                    text-transform: uppercase;
                    color: $gray-900;
                    font-weight: 500;
                    margin-right: 10px;
                }
                .share-links{
                    display: inline-flex;
                    align-items: center;
                    gap: 20px;
                    a{
                        font-size: 18px;
                        color: $primary-color
                    }
                }
            }
          }

        }

        &:last-child{
            margin-bottom: 0;
        }

      &.sticky{
        border: 1px solid $primary-color;
        border-radius: 6px;
      }

      &.format-image{
        
        .post-thumbnail {
          img {
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
            width: 100%;
            height: 350px;
          }
        }
      }

      &.format-video{
        @include xxs{
          margin-top: 50px;
        }
        .post-video {
          position: relative;
          img {
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
            width: 100%;
            height: 350px;
          }

          .video-btn{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 36px;
            color: #ffffff;
            cursor: pointer;

            a{
              width: 48px;
              height: 48px;
              position: absolute;
              top: 50%;
              left: 50%;
              -webkit-border-radius: 50px;
              -moz-border-radius: 50px;
              border-radius: 50px;
              transform: translate(-50%, -50%);
              text-align: center;
              font-size: 16px;
              line-height: 48px;
              background: $primary-color;
              color: #ffffff;
              cursor: pointer;
              opacity: 1;
              animation: 2s ripple linear infinite;
            }

          }

        }       
      }

      &.format-gallery{
        @include xxs {
          margin-top: 50px;
        }
        
        .post-gallery {
          
           .slick-slide {
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
           
          }             
          button{
         
            &.post-gallery-btn{
              position: absolute;
              width: 60px;
              height: 60px;
              border-radius: 50%;
              transition: 0.3s;
              z-index: 99;
              background-color: #ffffff;
              cursor: pointer;
              top: 50%;
              transform: translateY(-50%);
              overflow: hidden;
              border: none;
              &:hover{
                background-color: $primary-color;
                color: white;
              }
            }
            &.post-gallery-btn.prev-btn {
              left: 30px;
            }
            &.post-gallery-btn.next-btn {
              right: 30px;
            }
            &.post-gallery-btn i {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: $black;
              font-size: 17px;
              transition: all 0.5s ease-out;
            }
          }
          
        }
       
      }

      &.format-audio{
        @include xxs {
          margin-top: 50px;
        }
       
        .post-audio {
          
          img {
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
            width: 100%;
          }    
          iframe{            
            width: 100%;
            height: 350px;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;

            @include lg{
              height: 400px;
            }
            @include sm{
              height: 300px;
            }
            @include xs{
              height: 250px;
            }
          }     
          
        }
        .post-content-wrapper {
         
         margin-top: -10px;

        }
      }

      &.format-standard{
        .post-thumbnail {
          img {
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
            max-width: 100%;
            height: 480px;
          }
        }
        .post-content-wrapper{
            border-radius: 6px;
        }

        &.category-template-2{
          .post-thumbnail{
            img{
              max-width: 100%;
              height: auto;
            }
          }
        }
      }

      &.format-quote{
        border-left: 1px solid $primary-color;

        .post-content{
          margin: 0;

          blockquote{
            padding: 35px 40px;
            margin-bottom: 0;
            background: $gray-100;

            cite{
              a{
                color: $primary-color;
                font-size: 16px;
                font-weight: 700;
                text-transform: capitalize;
                color: #616670;
                margin-top: 20px;
                font-style: normal;
                transition: all 0.5s ease-out;
                text-decoration: underline !important;
              }
            }
          }
        }
      }
    }

    //page header
    .page-header{
      margin-bottom: 40px;
  
        .page-title {              
          font-family: $font-family;
          line-height: 1.2;
          margin-top: 0;
          font-size: 36px;
          color: $white;
  
          @include lg{
            font-size: 34px;
          }
  
          @include md {
            font-size: 30px;
          }
          @include sm {
            font-size: 28px;
          }
          @include xs {
            font-size: 25px;
            line-height: 1.3;
          }                     
  
          a {            
            color: $black;
            font-weight: 500;
            padding-right: 0px;
          }
  
          &:hover {
            a {
              color: $primary-color;
            }
          }
        }
      .archive-description{
        margin-top: 20px;
        color: $gray-800;
        font-weight: 400;
        font-size: 18px;
      }
    }
  
    // not found
    .not-found{
      .page-header{
        margin-bottom: 25px;
      }
  
      .blog-search-content{
  
        @include md{
          margin-bottom: 50px;
        }
        @include sm{
          margin-bottom: 40px;
        }
    
        p{
          color: $white;
          font-weight: 400;
          font-size: 18px;
          margin-top: 0;
        }
        .sidebar-form{
          margin-top: 30px;
    
          .search-form{
            gap: 0;
            border-radius: 5px;
            overflow: hidden;
    
            input{
              width: 100%;
              border: 1px solid $primary-color !important;
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
            }
          }
        }
      }
      .page-content{
        .error-404-title{
          font-size: 44px;
          color: $white;
          font-weight: 500;
          
          @include lg {
            font-size: 40px;
          }
          @include md {
            font-size: 36px;
          }
          @include sm {
            font-size: 34px;
          }
          @include xs {
            padding-right: 0;
            font-size: 30px;
          }
        }
        .error-title{
          font-size: 30px;
          color: $white;
          font-weight: 500;
          margin-top: 10px;
  
          @include md {
            font-size: 28px;
          }
          @include sm {
            font-size: 28px;
          }
          @include xs {
            font-size: 26px;
          }
  
        }
  
        .error-content{
          margin-top: 16px;
  
          .error-text{
            color: $white;
            font-weight: 400;
            font-size: 18px;
          }
  
          .error-btn-bh{
            .theme-btn{
              display: inline-block;
              border-radius: 7px;
              color: white;
              background-color: $primary-color;
              font-size: 20px;
              border: 1px solid transparent;
              width: fit-content;
              margin-top: 5px;
              padding: 15px 20px;
              font-weight: 500;
              transition: all 0.3s;
  
              &:hover{
                background-color: transparent;
                border-color: $primary-color;
              }
            }
          }
        }
      }
    }
  }
  
  
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 20%), 0 0 0 20px rgb(255 255 255 / 20%), 0 0 0 40px rgb(255 255 255 / 20%);
  }
  100% {
      box-shadow: 0 0 0 20px rgb(255 255 255 / 20%), 0 0 0 40px rgb(255 255 255 / 20%), 0 0 0 60px rgb(255 255 255 / 0%);
  }
}