

$gray-100: #f7f1fc;
$gray-900: black;
$gray-800: #716f73;
$gray-700: #aba8af;
$primary-color: #EDBC5A;
$black: #000000;
$white: #ffffff;
$text-color: #616670;
$border-color: #e3e3e3;

.blog-area{
    
  .blog-posts {
    .single-post-item {
        margin-bottom: 60px;

        .post-content-wrapper {
          background: $gray-100;
          padding: 35px 25px;
          border-bottom-right-radius: 6px;
          border-bottom-left-radius: 6px;
          .post-meta {
            display: flex;
            align-items: center;
            gap: 25px;
            flex-wrap: wrap;

            @include sm{
              gap: 20px;
            }
            a {
              color: $gray-900;
            }
            .author-img,
            .blog-category,
            .post-date,
            .post-comment {
              img{
                  height: 40px;
                  width: 40px;
                  border-radius: 50%;
                  margin-right: 4px;
              }
              a {
                color: $gray-800;
                font-size: 18px;
                
  
                @include sm{
                  font-size: 16px;
                }

                &:hover{
                  color: $primary-color;
                }
              }
              svg {
                path {
                  fill: $primary-color;
                }
              }
              .meta-text {
                font-weight: 400;
                margin-left: 3px;

              }
            }
            .blog-category{
              @include xs{
                display: none;
              }
            }           
          }
          .post-heading {
            padding-top: 15px;
            overflow-wrap: break-word;

            .post-title {           
              line-height: 1.2;   
              a {
                font-size: 32px;
                color: $gray-900;
                font-weight: 500;
                padding-right: 0px;
                @include md {
                  padding-right: 0;
                }
                @include sm {
                  padding-right: 0;
                }
                @include xs {
                  padding-right: 0;
                  font-size: 22px;
                }
              }
              &:hover {
                a {
                  color: $primary-color;
                }
              }
            }
          }
          .post-content{
            p{
              margin-top: 20px !important;
              color: $gray-800;
              font-weight: 400;
              font-size: 18px;
            }
          }

          .blog-read-more{

            margin-top: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .read-more{
                a{
                   color: $gray-900;
                   font-weight: 700;
                   font-size: 18px;
                   padding: 7px 25px;
                   border-radius: 50px;
                   background-color: white;
                   display: inline-flex;
                   align-items: center;
                   transition: all 0.5s;
                   border: 1px solid $primary-color;

                   span{
                    height: 48px;
                    width: 48px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    color: white;
                    background-color: $primary-color;
                    margin-left: 10px;
                    margin-right: -15px;
                    transition: all 0.5s;
                   
                    i{
                        transition: all 0.5s;
                    }

                   }

                   &:hover{
                    background-color: $gray-900;
                    color: white;

                    span{
                        background-color: $gray-900;
                        color: white;
                       

                        i{
                            transform: rotate(360deg)
                        }
                    }
                   }
                }
            }

            .share-blog{

              @include sm{
                display: none;
              }
                span{
                    font-size: 18px;
                    text-transform: uppercase;
                    color: $gray-900;
                    font-weight: 500;
                    margin-right: 10px;
                }
                .share-links{
                    display: inline-flex;
                    align-items: center;
                    gap: 20px;
                    a{
                        font-size: 18px;
                        color: $primary-color
                    }
                }
            }
          }

        }

        &:last-child{
            margin-bottom: 0;
        }

      &.sticky{
          border: 1px solid $primary-color;
          border-radius: 6px;
      }

      &.format-image{
        
        .post-thumbnail {
          img {
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
            width: 100%;
            height: 350px;
          }
        }
      }

      &.format-video{
        @include xxs{
          margin-top: 50px;
        }
        .post-video {
          position: relative;
          img {
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
            width: 100%;
            height: 350px;
          }

          .video-btn{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 36px;
            color: #ffffff;
            cursor: pointer;

            a{
              width: 48px;
              height: 48px;
              position: absolute;
              top: 50%;
              left: 50%;
              -webkit-border-radius: 50px;
              -moz-border-radius: 50px;
              border-radius: 50px;
              transform: translate(-50%, -50%);
              text-align: center;
              font-size: 16px;
              line-height: 48px;
              background: $primary-color;
              color: #ffffff;
              cursor: pointer;
              opacity: 1;
              animation: 2s ripple linear infinite;
            }

          }

        }       
      }

      &.format-gallery{
        @include xxs {
          margin-top: 50px;
        }
        
        .post-gallery {
          
           .slick-slide {
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
           
          }             
          button{
         
            &.post-gallery-btn{
              position: absolute;
              width: 60px;
              height: 60px;
              border-radius: 50%;
              transition: 0.3s;
              z-index: 99;
              background-color: #ffffff;
              cursor: pointer;
              top: 50%;
              transform: translateY(-50%);
              overflow: hidden;
              border: none;
              &:hover{
                background-color: $primary-color;
                color: white;
              }
            }
            &.post-gallery-btn.prev-btn {
              left: 30px;
            }
            &.post-gallery-btn.next-btn {
              right: 30px;
            }
            &.post-gallery-btn i {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: $black;
              font-size: 17px;
              transition: all 0.5s ease-out;
            }
          }
          
        }
       
      }

      &.format-audio{
        @include xxs {
          margin-top: 50px;
        }
       
        .post-audio {
          
          img {
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
            width: 100%;
          }    
          iframe{            
            width: 100%;
            height: 350px;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;

            @include lg{
              height: 400px;
            }
            @include sm{
              height: 300px;
            }
            @include xs{
              height: 250px;
            }
          }     
          
        }
        .post-content-wrapper {
         
         margin-top: -10px;

        }
      }

      &.format-standard{
        .post-thumbnail {
          img {
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
            max-width: 100%;
            height: 480px;
          }
        }
        .post-content-wrapper{
            border-radius: 6px;
        }

        &.category-template-2{
          .post-thumbnail{
            img{
              max-width: 100%;
              height: auto;
            }
          }
        }
      }

      &.format-quote{
        border-left: 1px solid $primary-color;

        .post-content{
          margin: 0;

          blockquote{
            padding: 35px 40px;
            margin-bottom: 0;
            background: $gray-100;

            cite{
              a{
                color: $primary-color;
                font-size: 16px;
                font-weight: 700;
                text-transform: capitalize;
                color: #616670;
                margin-top: 20px;
                font-style: normal;
                transition: all 0.5s ease-out;
                text-decoration: underline !important;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 20%), 0 0 0 20px rgb(255 255 255 / 20%), 0 0 0 40px rgb(255 255 255 / 20%);
  }
  100% {
      box-shadow: 0 0 0 20px rgb(255 255 255 / 20%), 0 0 0 40px rgb(255 255 255 / 20%), 0 0 0 60px rgb(255 255 255 / 0%);
  }
}