@use "../variables" as v;
@use "../mixin" as m;

// unit testing pages area
.page-area{

    
    padding-top: 115px;
    padding-bottom: 100px;

    .page-content{
        p{
            margin: 0 0 15px;
            color: v.$gray-800;
            font-weight: 500;

            a{
                color: v.$primary-color;
            }

            code{
                color: v.$primary-color;
            }
        }

        ol{
            li{
                font-weight: 500;

                a{
                    color: v.$primary-color;
                }
            }
        }

        h1, h2, h3, h4, h5, h6 {
            font-weight: 700;
            margin-bottom: 10px;
        }
        table{
            th{
                a{
                    color: v.$primary-color;
                }
            }
            tr{
                td{
                    a{
                        color: v.$primary-color;
                    }
                }
            }
        }
        dl{
            dd{
                a{
                    color: v.$primary-color;
                }
            }
        }

         .page-links{
            display: inline-flex;
            align-items: center;
            gap: 12px;
            flex-wrap: wrap;
            margin-top: 10px;
            width: 100%;
            margin-bottom: 20px;
            
            .post-page-numbers{
                display: flex;
                align-items: center;
                justify-content: center;
                color: #23262D;
                background-color: rgba(217, 161, 76, 0.1);
                border-radius: 50%;
                height: 67px;
                width: 67px;
                transition: all 0.5s ease-out;
                font-size: 24px;
                font-weight: 700;
                text-transform: capitalize;

                &:hover,
                &.current{
                    background-color: v.$primary-color;
                    color: white;
                }
            }
        }
    }
}